@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import "tailwindcss/preflight" layer(base);
@import "tailwindcss/utilities" layer(utilities);
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "tailwindcss-animate";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(222.2 84% 4.9%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(222.2 84% 4.9%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(222.2 84% 4.9%);
  --primary: hsl(222.2 47.4% 11.2%); 
  --primary-foreground: hsl(210 40% 98%);
  --secondary: hsl(210 40% 96.1%);
  --secondary-foreground: hsl(222.2 47.4% 11.2%);
  --muted: hsl(210 40% 96.1%);
  --muted-foreground: hsl(215.4 16.3% 46.9%);
  --accent: hsl(210 40% 96.1%);
  --accent-foreground: hsl(222.2 47.4% 11.2%);
  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(210 40% 98%);
  --border: hsl(214.3 31.8% 91.4%);
  --input: hsl(214.3 31.8% 91.4%);
  /* Shadcn UI */
  --ring: hsl(223, 84%, 5%);
  --chart-1: hsl(12 76% 61%);
  --chart-2: hsl(173 58% 39%);
  --chart-3: hsl(197 37% 24%);
  --chart-4: hsl(43 74% 66%);
  --chart-5: hsl(27 87% 67%);
  --radius: 0.6rem;
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);

  /* Ath Theme */
  --primary: light-dark(#2f5172, #aec6ff);
  --surface-tint: light-dark(#455e91, #aec6ff);
  --on-primary: light-dark(#ffffff, #122f60);
  --primary-container: light-dark(#fff, #2c4678);
  --on-primary-container: light-dark(#2c4678, #d8e2ff);

  --secondary: light-dark(#575e71, #bfc6dc);
  --on-secondary: light-dark(#ffffff, #293041);
  --secondary-container: light-dark(#dbe2f9, #3f4759);
  --on-secondary-container: light-dark(#3f4759, #dbe2f9);

  --tertiary: light-dark(#7c580d, #f0bf6d);
  --on-tertiary: light-dark(#ffffff, #432c00);
  --tertiary-container: light-dark(#ffdeac, #604100);
  --on-tertiary-container: light-dark(#604100, #ffdeac);

  --error: light-dark(#ba1a1a, #ffb4ab);
  --on-error: light-dark(#ffffff, #690005);
  --error-container: light-dark(#ffdad6, #93000a);
  --on-error-container: light-dark(#93000a, #ffdad6);

  --background: light-dark(#fefcff, #111318);
  --on-background: light-dark(#1d1d1b, #e2e2e9);

  --surface: light-dark(#f9f9ff, #111318);
  --on-surface: light-dark(#2f5172, #aec6ff);
  --surface-variant: light-dark(#e1e2ec, #44474f);
  --on-surface-variant: light-dark(#44474f, #c5c6d0);

  --outline: light-dark(#75777f, #8e9099);
  --outline-variant: light-dark(#c5c6d0, #44474f);

  --shadow: light-dark(#000000, #000000);
  --scrim: light-dark(#000000, #000000);

  --inverse-surface: light-dark(#2f3036, #e2e2e9);
  --inverse-on-surface: light-dark(#f0f0f7, #2f3036);

  --inverse-primary: light-dark(#aec6ff, #455e91);
  --primary-fixed: light-dark(#d8e2ff, #d8e2ff);
  --on-primary-fixed: light-dark(#001a42, #001a42);
  --primary-fixed-dim: light-dark(#aec6ff, #aec6ff);
  --on-primary-fixed-variant: light-dark(#2c4678, #2c4678);

  --secondary-fixed: light-dark(#dbe2f9, #dbe2f9);
  --on-secondary-fixed: light-dark(#141b2c, #141b2c);
  --secondary-fixed-dim: light-dark(#bfc6dc, #bfc6dc);
  --on-secondary-fixed-variant: light-dark(#3f4759, #3f4759);

  --tertiary-fixed: light-dark(#ffdeac, #ffdeac);
  --on-tertiary-fixed: light-dark(#281900, #281900);
  --tertiary-fixed-dim: light-dark(#f0bf6d, #f0bf6d);
  --on-tertiary-fixed-variant: light-dark(#604100, #604100);

  --surface-dim: light-dark(#dad9e0, #111318);
  --surface-bright: light-dark(#f9f9ff, #37393e);
  --surface-container-lowest: light-dark(oklch(from #fafafb 97% c h), #0c0e13);
  --surface-container-low: light-dark(#fafafb, #0c0e13);
  --surface-container: light-dark(from #E0EEFF, #1e1f25);
  --surface-container-high: light-dark(oklch(from #fafafb 90% 4% calc(h + 0.04)), #282a2f);
  --surface-container-highest: light-dark(oklch(from #fafafb 82% 6% calc(h + -15)), #33353a);
}

.light {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

@theme {
  /* Ath Radius */
  /* --radius-*: initial;
  --radius-none : 0px;
  --radius-md: 10px;
  --radius-lg: 16px; */

  /* Ath Shadow */
  --shadow-*: initial;
  --shadow-none: none;
  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
  --shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.15);
  --shadow-xl: 0 20px 25px rgba(0, 0, 0, 0.2);
  --shadow-2xl: 0 25px 50px rgba(0, 0, 0, 0.25);

  /* Optional custom variants */
  --shadow-elevated: 0 6px 12px rgba(0, 0, 0, 0.2);
  --shadow-card: 0 3px 8px rgba(0, 0, 0, 0.08);
  --shadow-button: 0 2px 4px rgba(0, 0, 0, 0.15);

  --analogous: #009688;

}

@theme inline {
  /* Shadcn UI */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  /* --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px); */
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  /* Ath Theme */
  --color-primary: var(--primary);
  --color-surface-tint: var(--surface-tint);
  --color-on-primary: var(--on-primary);
  --color-primary-container: var(--primary-container);
  --color-on-primary-container: var(--on-primary-container);

  --color-secondary: var(--secondary);
  --color-on-secondary: var(--on-secondary);
  --color-secondary-container: var(--secondary-container);
  --color-on-secondary-container: var(--on-secondary-container);

  --color-tertiary: var(--tertiary);
  --color-on-tertiary: var(--on-tertiary);
  --color-tertiary-container: var(--tertiary-container);
  --color-on-tertiary-container: var(--on-tertiary-container);

  --color-error: var(--error);
  --color-on-error: var(--on-error);
  --color-error-container: var(--error-container);
  --color-on-error-container: var(--on-error-container);

  --color-background: var(--background);
  --color-on-background: var(--on-background);

  --color-surface: var(--surface);
  --color-on-surface: var(--on-surface);
  --color-surface-variant: var(--surface-variant);
  --color-on-surface-variant: var(--on-surface-variant);

  --color-outline: var(--outline);
  --color-outline-variant: var(--outline-variant);

  --color-shadow: var(--shadow);
  --color-scrim: var(--scrim);

  --color-inverse-surface: var(--inverse-surface);
  --color-inverse-on-surface: var(--inverse-on-surface);

  --color-inverse-primary: var(--inverse-primary);
  --color-primary-fixed: var(--primary-fixed);
  --color-on-primary-fixed: var(--on-primary-fixed);
  --color-primary-fixed-dim: var(--primary-fixed-dim);
  --color-on-primary-fixed-variant: var(--on-primary-fixed-variant);

  --color-secondary-fixed: var(--secondary-fixed);
  --color-on-secondary-fixed: var(--on-secondary-fixed);
  --color-secondary-fixed-dim: var(--secondary-fixed-dim);
  --color-on-secondary-fixed-variant: var(--on-secondary-fixed-variant);

  --color-tertiary-fixed: var(--tertiary-fixed);
  --color-on-tertiary-fixed: var(--on-tertiary-fixed);
  --color-tertiary-fixed-dim: var(--tertiary-fixed-dim);
  --color-on-tertiary-fixed-variant: var(--on-tertiary-fixed-variant);

  --color-surface-dim: var(--surface-dim);
  --color-surface-bright: var(--surface-bright);
  --color-surface-container-lowest: var(--surface-container-lowest);
  --color-surface-container-low: var(--surface-container-low);
  --color-surface-container: var(--surface-container);
  --color-surface-container-high: var(--surface-container-high);
  --color-surface-container-highest: var(--surface-container-highest);

  @keyframes accordion-down {
    from {
      height: 0;
    }

    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }

    to {
      height: 0;
    }
  }

  --animate-aurora: aurora 60s linear infinite
;
  @keyframes aurora {
  from {
    backgroundPosition: 50% 50%, 50% 50%;
    }
  to {
    backgroundPosition: 350% 50%, 350% 50%;
    }
  }}

@keyframes slideIn {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  50% {
    transform: translateX(0);
    opacity: 0.8;
  }

  100% {
    transform: translateX(100px);
    opacity: 0;
  }
}

@layer base {
  * {
    @apply border-outline-variant outline-outline-variant/75;
  }

  body {
    @apply m-0 max-w-full min-h-svh bg-background text-on-background overflow-x-clip;
    font-family: "Titillium Web", serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #app {
    @apply min-h-svh;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  }
}